@{
    ViewData["Title"] = " Notification Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<style>
    label {
        padding-bottom: 20px;
    }

    i {
       position: absolute;
       visibility: hidden;
    }

    .success input {
        border-color: #2ecc71;
    }

    .error textarea {
        border-color: #e74e3c;
    }

    .error input {
        border-color: #e74e3c;
    }

    small {
        margin-left: 20px;
        visibility: hidden;
    }

    .success i.fa-check-circle {
        color: #2ecc71;
        visibility: visible;
    }

    .error i.fa-exclamation-circle {
        color: #e74e3c;
        visibility: visible;
    }

    .error small {
        color: #e74e3c;
        visibility: visible;
    }
</style>

<div class="col-12 col-xl-12">
    <h2 class="card-title mb-3"><span style="font-size: 20px;"><strong>Add Notification Type</strong></span></h2>
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <form id="form">
                <div class="mb-3 row form-validate">
                    <label class="col-form-label col-sm-2 text-sm-right">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Full Name" id="name">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="mb-3 row form-validate error">
                    <label class="col-form-label col-sm-2 text-sm-right">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" placeholder="Description" id="description" rows="3"></textarea>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10 ml-sm-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    const form = document.getElementById('form');
    const name = document.getElementById('name');
    const description = document.getElementById('description');

    form.addEventListener('submit', (e) => {
        e.preventDefault();

        checkInputs();
    });

    function checkInputs() {
        //get the values from the inputs
        const nameValue = name.value.trim();
        const descriptionValue = description.value.trim();

        if (nameValue == "") {
            //show error and add erro class
            setErrorFor(name, "Input Field Cannot Be Blank");
        } else {
            //show the success class
            setSuccessFor(name, "Input Is Valid");
        }
    }

    function setErrorFor(input , message) {
        const formControl = input.parentElement;
        const small = formControl.querySelector('small');

        //add error message inside small tag
        small.innerText = message;

        //add error class
        formControl.className = "form-validate error";
    }

</script>