@{
    ViewData["Title"] = " Notification Email Alert";
}

<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<div class="container-fluid p-0">

    <div class="row">

        <div class="col-12 col-xl-12">
            <h2 class="card-title"><span style="font-size: 20px;"><strong>Email Notification</strong></span></h2>
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-primary" asp-controller="NotificationEmailAlert" asp-action="PostNotification">Add Email Notification</a>
                    <br />
                </div>
                <table id="tblNotificationEmail" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Receiver Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Johnsonblack@yahoo.com</td>
                            <td>Internship Role</td>
                            <td>I wish to apply for the role of a software developer at your sweet reputable firm, please accept me!</td>
                            <td>James Rodriguez</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Emiliarice@yahoo.com</td>
                            <td>Internship Role</td>
                            <td>I wish to apply for the role of a software developer at your sweet reputable firm, please accept me!</td>
                            <td>Jason Vorhez</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>clarkville@yahoo.com</td>
                            <td>Internship Role</td>
                            <td>I wish to apply for the role of a software developer at your sweet reputable firm, please accept me!</td>
                            <td>Jonny Bravo</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblNotificationEmail').DataTable();
    });
</script>