@{
    ViewData["Title"] = " Notification Email Alert";
}

<div class="container-fluid p-0">

    <div class="row">

        <div class="col-12 col-xl-12">
            <h2 class="card-title"><span style="font-size: 20px;"><strong>Email Notification</strong></span></h2>
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-primary" asp-controller="NotificationEmailAlert" asp-action="PostNotification">Add Email Notification</a>
                    <br />
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Receiver Name</th>
                            <th>Date Created</th>
                            <th>Date Processed</th>
                            <th>Created By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Johnsonblack@yahoo.com</td>
                            <td>Internship Role</td>
                            <td>I wish to apply for the role of a software developer at your sweet reputable firm, please accept me!</td>
                            <td>James Rodriguez</td>
                            <td>07-12-2020</td>
                            <td>07-12-2020</td>
                            <td>Jane Doe</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Emiliarice@yahoo.com</td>
                            <td>Internship Role</td>
                            <td>I wish to apply for the role of a software developer at your sweet reputable firm, please accept me!</td>
                            <td>James Rodriguez</td>
                            <td>07-12-2020</td>
                            <td>07-12-2020</td>
                            <td>Jane Doe</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>clarkville@yahoo.com</td>
                            <td>Internship Role</td>
                            <td>I wish to apply for the role of a software developer at your sweet reputable firm, please accept me!</td>
                            <td>James Rodriguez</td>
                            <td>07-12-2020</td>
                            <td>07-12-2020</td>
                            <td>Jane Doe</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>