@{
    ViewData["Title"] = " Notification Email Alert";
}

<div class="container-fluid p-0">

    <div class="row">

        <div class="col-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title"> <span class="display-6"><strong>Email Notification</strong></span></h2>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Receiver Name</th>
                            <th>Date Created</th>
                            <th>Date Processed</th>
                            <th>Created By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            @*<td class="table-action">
                                    <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                </td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>