@{
    ViewData["Title"] = "Email Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<style>
    label {
        padding-bottom: 20px;
    }

    i {
        position: absolute;
        visibility: hidden;
    }

    .success input {
        border-color: #2ecc71;
    }

    .success textarea {
        border-color: #2ecc71;
    }

    .error textarea {
        border-color: #e74e3c;
    }

    .error input {
        border-color: #e74e3c;
    }

    small {
        margin-left: 20px;
        visibility: hidden;
    }

    .success i.fa-check-circle {
        color: #2ecc71;
        visibility: visible;
        margin-top: 6px
    }

    .error i.fa-exclamation-circle {
        color: #e74e3c;
        visibility: visible;
        margin-top: 6px
    }

    .error small {
        color: #e74e3c;
        visibility: visible;
    }

    .success small {
        color: #2ecc71;
        visibility: visible;
    }
</style>

<div class="col-12 col-xl-12">
    <h2 class="card-title mb-3"><span style="font-size: 20px;"><strong>Add Email Notification</strong></span></h2>
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <form id="form">
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-right">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" placeholder="Email" id="email">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-right">Subject</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Email Subject" id="emailSubject">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-right">Message</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" placeholder="Message" rows="3" id="message"></textarea>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-right">Receiver's Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Receiver's Name" id="receiverName">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10 ml-sm-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    const form = document.getElementById('form');
    const email = document.getElementById('email');
    const emailSubject = document.getElementById('emailSubject');
    const receiverName = document.getElementById('receiverName');
    const message = document.getElementById('message');

    form.addEventListener('submit', (e) => {
        e.preventDefault();

        checkInputs();
    });

    function checkInputs() {
        //get the values from the inputs
        const emailValue = email.value.trim();
        const emailSubjectValue = emailSubject.value.trim();
        const messageValue = message.value.trim();
        const receiverNameValue = receiverName.value.trim();

        if (emailValue == "") {
            //show error and add erro class
            setErrorFor(email, "Input Field Cannot Be Blank");
        } else {
            //show the success class
            setSuccessFor(email, "Input Is Valid");
        }

        if (emailSubjectValue == "") {
            //show error and add erro class
            setErrorFor(emailSubject, "Input Field Cannot Be Blank");
        } else {
            //show the success class
            setSuccessFor(emailSubject, "Input Is Valid");
        }

        if (messageValue == "") {
            //show error and add erro class
            setErrorFor(message, "Input Field Cannot Be Blank");
        } else {
            //show the success class
            setSuccessFor(message, "Input Is Valid");
        }

        if (receiverNameValue == "") {
            //show error and add erro class
            setErrorFor(receiverName, "Input Field Cannot Be Blank");
        } else {
            //show the success class
            setSuccessFor(receiverName, "Input Is Valid");
        }
    }

    function setErrorFor(input , message) {
        const formControl = input.parentElement;
        const grandParent = formControl.parentElement;
        const small = formControl.querySelector('small');

        //add error message inside small tag
        small.innerText = message;

        //add error class
        grandParent.className = "mb-3 row error";
    }

    function setSuccessFor(input, message) {
        const formControl = input.parentElement;
        const grandParent = formControl.parentElement;
        const small = formControl.querySelector('small');

        //add success message inside small tag
        small.innerText = message;

        //add error class
        grandParent.className = "mb-3 row success";
    }

</script>